@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap);

a,
a:hover {
    text-decoration: none !important
}
*,
h1,
h2 {
    color: #fff
}
.subtitulo,
.titulo {
    max-width: 500px;
    margin: 0 auto
}
.navbar-nav a,
a:hover {
    color: #fff !important
}
.banner img,
.centrar,
.subtitulo,
.titulo {
    margin: 0 auto
}
.btn-8 span,
.btn-8 span:hover:before,
.btn-8:hover:before {
    height: 100%
}
.btn-8 span:before,
.btn-8:before {
    width: 2px;
    height: 0%
}
* {
    font-family: 'Roboto Condensed'
}
body {
    background-color: #232121
}
.banner img {
    max-width: 2600px;
    display: flex;
    max-height: 666px;
    object-fit: cover
}
.buttom-primary {
    width: 153px;
    height: 46px;
    background: #7206b7;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    border: none
}
input,
select {
    height: 42px
}
textarea {
    height: 208px
}
input,
select,
textarea {
    margin-top: 5px;
    margin-bottom: 1em;
    width: 100%;
    padding-left: 1em;
    border: 0;
    background: #403f3f;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, .25)
}
h1 {
    font-weight: 800;
    font-size: 65px;
    line-height: 76px;
    text-align: center
}
.titulo,
h2 {
    font-weight: 500;
    text-align: center
}
h2 {
    font-size: 38px;
    line-height: 55px
}
h4 {
    text-align: center;
    max-width: 745px
}
@media (max-width:750px) {
    h4 {
        padding: 0 10px
    }

    .btn-contacto {
        width: 100%
    }
}
.titulo {
    font-size: 32px;
    line-height: 37px;
    color: #000;
    padding: 30px 0
}
.subtitulo,
label {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000
}
.subtitulo {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 1em
}
label {
    margin-top: 10px
}
section {
    padding: 5em 0
}
.container {
    max-width: 1124px !important
}
@media (min-width:992px) {
    .navbar-collapse {
        flex-basis: unset;
        flex-grow: unset !important
    }

    .navbar-nav li {
        margin-left: 1em
    }

    .nav--reservaTuHora {
        background: #7206b7;
        border-radius: 4px;
        margin-left: 3em !important
    }
}
@media (max-width:450px) {
    .logo-nav {
        width: 190px
    }
}
.nav--reservaTuHora {
    background: #bebebe;
    border-radius: 4px
}
.navbar-nav a:hover {
    color: #646464 !important
}
.nav--reservaTuHora a {
    color: #212121 !important;
    margin: 0 2em
}
.btn-contacto:hover,
.whatsapp {
    color: #fff
}
.nav--reservaTuHora a:hover {
    color: #e4dbdb !important
}
.navbar-light .navbar-toggler {
    background-color: #e4dbdb
}
.contendor-imagen-informacion {
    display: flex
}
footer .redes-sociales {
    background-color: #161616
}
footer .redes-sociales .contenedor-imagenes {
    justify-content: space-between;
    max-width: 184px;
    display: flex;
    margin: 0 auto;
    padding: 1em 0
}
@media (max-width:750px) {
    footer .contendor-imagen-informacion img {
        padding-top: 4em
    }
}
footer .contenedor-texto-llamada {
    padding-left: 29px
}
footer .informacion {
    background-color: #000;
    color: #fff
}
footer .horario {
    margin: 4em 0
}
footer .contenedor-telefono {
    margin: 2em 0
}
.whatsapp-icon {
    margin-top: 14px
}
.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100
}


.btn-contacto{
    padding: 10px;
    color: #222;
    background-color: #bebebe;
    border-radius: 4px;
  }

  .btn-contacto:hover{

    color: rgb(255, 255, 255);
   
  }